<%- include("partials/header"); -%>
    <h1>Contact</h1>
     <h3>Contact me: +1234567890</h3>
     <h3>Drop me a mail  <a  href="mailto:aniket.r.21102001@gmail.com?subject=Feedback"> <i class="fas fa-envelope fa-1x"></i> </a></h3>
     <h3>Follow me on Instagram <a  href="https://www.instagram.com/an.ik.et_p/"> <i class="fab fa-instagram fa-1x"></i> </a></h3>
<%- include("partials/footer"); -%>
